name: MacOS

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "README.md"
      - "docs/**"
      - "marimapper/scripts/**"
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ["3.9"]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip cache purge
        pip install .[develop]

    - name: Pytest
      run: |
        pytest -s -v test/test_sfm_process.py